<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Tag</title>
     <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
</head>
<body>
{% if tags == 'Notags' %}
    <p>There is no tags!</p>
{% else %}
    <p>Actual tags:</p>
    {% for tag in tags %}
        <p>{{ tag }} - <a href="/del-tag/{{ question_id }}/{{ tag }}">X</a></p>
    {% endfor %}
{% endif %}

<form method="post" action="/question/{{question_id}}/new-tag">
    <label for="newtag">Enter new tag</label>
    <input name="newtag">
    <input type="submit" value="Submit">
</form>

</body>
</html>

</body>
</html>