<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display Question</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
</head>
<body>
<h4><a style="color: yellow" href="/"> < just_ask > </a></h4>
<div class="logo_line"></div>
{#<h5>question:</h5>#}
<h1 style="color: #eeeeee">{{ question.title }}</h1>
<h2 style="margin-left: 100px">{{ question.message }}</h2>
<p1 style="margin-left: 100px">
{% for ele in tags %}
    </p1><a href=""><p5 style="">#{{ ele }}</p5></a>
{% endfor %}
{% if question.image == None %}
{% else %}
    <img style="margin-left: 100px" alt="image" src="{{url_for('static', filename='images/' + question.image )}}" width="300" height="300"  >
{% endif %}

{#<form method="get" type="button" action="/question/{{ question.id }}/new-tag">#}
{#   <button style="color: #eeeeee" class="button-32" role="button">#}
{#       <p6>ADD TAG</p6> </button>#}
{#</form>#}
<br>
<button class="button-32" role="button" style="color: #eeeeee; margin-left: 100px"><a href="/question/{{ question.id }}/new-tag">ADD TAG</a> </button>
<button class="button-32" role="button" style="color: #eeeeee;margin-left: 0px"><a href="/question/{{ question.id }}/new-comment">ADD COMMENT</a> </button>
<br>
<div style="margin-left: 100px; margin-right: 500px" class="wrap-collabsible"> <input id="collapsible" class="toggle" type="checkbox">
    <label for="collapsible" class="lbl-toggle">Comments:</label><div class="collapsible-content"><div class="content-inner">
    {%  for com in comment %}
        {% if com.answer_id == None %}
    <p3 align="right">Comment: {{  com.message }}</p3><br>
    <p3 align="right" style="font-size: 12px">Added time: {{ com.submission_time }} </p3><br>
    <p3 align="right"style="font-size: 12px">Edit time: {{ com.edited_count }}</p3><br>
    <button class="button-32" role="button" style="background-color: #f4e603;width:30%; margin-left: 70%"><a href="/comment/{{ com.id }}/edit">EDIT COMMENT</a> </button><br>
        {% endif %}
    {% endfor %}
</div></div></div>
<h3 style="color: #f4e603; margin-left: 100px">Answers:</h3>
<h3>{% for elem in answer %}
    <div class="vl"></div>
    <p4>Votes: {{elem.vote_number}}</p4><br>
    <p3>{{elem.message}}</p3><br>
    <br>
    <button class="button-32" role="button">
    <a href="http://127.0.0.1:5000/answer/{{elem.id}}/vote_up">Vote up</a></button>
     <button class="button-32" role="button">
    <a href="http://127.0.0.1:5000/answer/{{elem.id}}/vote_down">Vote down</a></button>
        <button class="button-66" role="button">
    <a href="http://127.0.0.1:5000/answer/{{elem.id}}/edit">Edit answer</a></button>
    <button class="button-66" role="button">
    <a href="http://127.0.0.1:5000/answer/{{elem.id}}/delete">Delete answer</a></button> <br><br>
    {% if elem.image == None %}
    {% else %}
        <img src="{{url_for('static', filename='images/' + elem.image )}}" width="300" height="300" align="flex" >
    {% endif %}
    <button class="button-32" role="button" style="background-color: #f4e603;width:30%; margin-left: 100px"><a href="/answer/{{ elem.id }}/new-comment">ADD COMMENT</a> </button>

    <div style="margin-left: 100px; margin-right: 500px" class="wrap-collapsible"> <input id="collapsible{{ elem.id }}" class="toggle" type="checkbox">
    <label for="collapsible{{ elem.id }}" class="lbl-toggle">Comments:</label><div class="collapsible-content"><div class="content-inner">
       {%  for com in comment %}
        {% if com.answer_id == elem.id %}
    <p3 align="right">Comment: {{  com.message }}</p3><br>
    <p3 align="right" style="font-size: 12px">Added time: {{ com.submission_time }} </p3><br>
    <p3 align="right" style="font-size: 12px">Edit time: {{ com.edited_count }}</p3><br>
    <button class="button-32" role="button" style="background-color: #f4e603;width:30%; margin-left: 70%"><a href="/comment/{{ com.id }}/edit">EDIT COMMENT</a> </button><br>
        {% endif %}
        {% endfor %}
</div></div></div>
    {% endfor %}</h3> <br> <br>
<button class="button-32" role="button" style="background-color: #f4e603;width:30%; margin-left: 100px"><a href="http://127.0.0.1:5000/question/{{question.id}}/new-answer">ADD ANSWER</a></button>



</body>
</html>