<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
</head>
<body>
<h4><a style="color: yellow" href="/"> < just_ask > </a></h4>
<div class="logo_line"></div>
<br>
<script type="text/javascript">
    function wrong_password() {
        var wrong_login = {{wrong_login|tojson}}

        if (wrong_login) {
            alert('Login or password is incorrect');
        }
    }
    wrong_password();
</script>
    <br>

        <br>
            <form action="/login" method="post" enctype="multipart/form-data">
                <p3 style="margin-left: 40%">Username:</p3> <input type="text" name="username"/><br/>
                <p3 style="margin-left: 40%">Password:</p3> <input type="password" name="password"/><br/>
                <br>
                        <button class="button-32" role="button" style="margin-left: 47%" type="submit"
                                value="Submit">Login
                        </button>
                        <br>
            </form>
        </body>
    </html>