<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
</head>
<body>
<h4><a style="color: yellow" href="/"> < just_ask > </a></h4>
<div class="logo_line"></div>
<br>
<script type="text/javascript">
    function same_password() {
        var wrong_passwords = {{wrong_passwords|tojson}}

        if (wrong_passwords) {
            alert('There are not the same passwords');
        }
    }
    same_password();
</script>
    <br>
        <br>
            <form action="/registration" method="post" enctype="multipart/form-data">
                <p3 style="margin-left: 40%">Username:</p3>  <input type="text" name="username"/><br/>
                <p3 style="margin-left: 40%">Create password:</p3>  <input type="password" name="password"/><br/>
                <p3 style="margin-left: 40%">Repeat password:</p3>  <input type="password" name="repeat_password"/><br/><br/>
                <h2 style="margin-left: 40%">Add profile photo</h2>

                    <input style="margin-left: 40%" type="file" name="file" >
                        <button class="button-32" role="button" style="margin-left: 20px" type="submit"
                                value="Submit">Sign up
                        </button>
                        <br>
            </form>
        </body>
    </html>