<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of questions</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
</head>
<body>
<h4><a style="color: dodgerblue" href="/"> < just_ask > </a></h4>
<div class="logo_line"></div>
<br>
<br>
<h1>Search results: </h1>
{% for elem in question_results %}
    <div class="vl"></div>
    <p4>Votes: {{ elem.vote_number }}</p4><br>
    <p3><a style="color: aliceblue" href="http://127.0.0.1:5000/question/{{ elem.id }}">{{ elem.title }}</a></p3> <br>
    <br>
    <button class="button-66" role="button">
        <a href="http://127.0.0.1:5000/question/{{ elem.id }}/edit">Edit question</a></button>
    <button class="button-66" role="button">
        <a href="http://127.0.0.1:5000/question/{{ elem.id }}/delete">Delete question</a></button>
    <button class="button-32" role="button">
        <a href="http://127.0.0.1:5000/question/{{ elem.id }}/vote_up">Vote up</a></button>
    <button class="button-32" role="button">
        <a href="http://127.0.0.1:5000/question/{{ elem.id }}/vote_down">Vote down</a></button>


    {% for result in answer_results %}
        {% for row in result %}
            {% if row.title != elem.title %}
                <div class="vl"></div>
                <p4>Votes: {{ elem.vote_number }}</p4><br>
                <p3><a style="color: aliceblue" href="http://127.0.0.1:5000/question/{{ elem.id }}">{{ row.title }}</a>
                </p3> <br><br>
                <button class="button-66" role="button">
                    <a href="http://127.0.0.1:5000/question/{{ elem.id }}/edit">Edit question</a></button>
                <button class="button-66" role="button">
                    <a href="http://127.0.0.1:5000/question/{{ elem.id }}/delete">Delete question</a></button>
                <button class="button-32" role="button">
                    <a href="http://127.0.0.1:5000/question/{{ elem.id }}/vote_up">Vote up</a></button>
                <button class="button-32" role="button">
                    <a href="http://127.0.0.1:5000/question/{{ elem.id }}/vote_down">Vote down</a></button>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endfor %}


</body>
</html>