@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import "compass/css3";
body {
    background-color: #151515;
    font-family: "Consolas", sans-serif;
    font-size: 20px;
    color: grey;
}

a:link {
    font-family: "Consolas", sans-serif;
    color: black;
    text-decoration: none;
}

a:visited {
    font-family: "Consolas", sans-serif;
    color: black;
    text-decoration: none;
}

h1 {
    font-family: "Consolas", sans-serif;
    font-size: 25px;
    margin-left: 100px;
    margin-right: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: dodgerblue;
}


.vl {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid yellow;
    margin-right: 300px;
    margin-top: 30px;
    padding: 0;
    margin-left: 100px;
}

.vl {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid yellow;
    margin-right: 350px;
    margin-top: 30px;
    padding: 0;
    margin-left: 100px;
}

.logo_line {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 50px;
    height: 1px;
    border: 0;
    border-top: 2px solid yellow;
    padding: 0;
}

h2 {
    font-size: 15px;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: lightgoldenrodyellow;
}

h4 {
    font-size: 30px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: gold;
    font-family: "Consolas", sans-serif;
}

h5 {
    font-size: 20px;
    margin-left: 100px;

    margin-top: 0px;
    margin-bottom: 10px;
    color: yellow;
}

p {
    font-size: 15px;
    margin-left: 100px;
    margin-right: 500px;
    margin-top: 20px;
    font-family: "Consolas", sans-serif;
    color: lightgoldenrodyellow;
}

p2 {
    font-size: 20px;
    color: dodgerblue;
    margin-left: 100px;
}

p5 {
    font-size: 15px;
    color: dodgerblue;
}

p3 {
    font-size: 18px;
    margin-left: 100px;
    color: white;
}

p4 {
    font-size: 14px;
    margin-left: 600px;
    color: white;
}

p10 {
    margin-left: 200px;
    font-size: 30px;
    font-family: "Consolas", sans-serif;
    color: lightgoldenrodyellow;
}

a {
    font-family: "Consolas", sans-serif;
    color: black;
}

/* CSS */
.button-32 {
    font-family: "Consolas", sans-serif;
    background-color: dodgerblue;
    border-radius: 12px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    text-align: match-parent;
    transition: 200ms;
    width: 9%;
    box-sizing: border-box;
    border: 0;
    font-size: 12px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 100px;
}

.button-200 {
    font-family: "Consolas", sans-serif;
    background-color: dodgerblue;
    border-radius: 12px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    text-align: match-parent;
    transition: 200ms;
    width: 9%;
    box-sizing: border-box;
    border: 0;
    font-size: 15px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 200px;
}

.button-200:not(:disabled):hover,
.button-200:not(:disabled):focus {
    outline: 0;
    font-family: "Consolas", sans-serif;
    background: #f4e603;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .2), 0 3px 8px 0 rgba(0, 0, 0, .15);
}

.button-200:disabled {
    font-family: "Consolas", sans-serif;
    filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
}


.button-32:not(:disabled):hover,
.button-32:not(:disabled):focus {
    outline: 0;
    font-family: "Consolas", sans-serif;
    background: #f4e603;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .2), 0 3px 8px 0 rgba(0, 0, 0, .15);
}

.button-32:disabled {
    font-family: "Consolas", sans-serif;
    filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
}

.button-66 {
    font-family: "Consolas", sans-serif;
    background-color: lightgoldenrodyellow;
    border-radius: 12px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    padding: 15px 15px;
    text-align: center;
    transition: 200ms;
    width: 9%;
    box-sizing: border-box;
    border: 0;
    font-size: 11px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 100px;

}

.button-66:not(:disabled):hover,
.button-66:not(:disabled):focus {
    outline: 0;
    font-family: "Consolas", sans-serif;
    background: lightblue;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .2), 0 3px 8px 0 rgba(0, 0, 0, .15);
}

.button-66:disabled {
    font-family: "Consolas", sans-serif;
    filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
}

textarea, title {
    font-family: "Consolas", sans-serif;
    width: 40%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid yellow;
    border-radius: 4px;
    background-color: black;
    font-size: 16px;
    margin-left: 100px;
    color: #f4e603;
    resize: none;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-family: "Consolas", sans-serif;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    font-family: "Consolas", sans-serif;
}

input[type='checkbox'] {
    display: none;
}

.wrap-collabsible {
    margin: 1.2rem 0;
}

.lbl-toggle {
    display: block;
    font-weight: bold;
    font-family: "Consolas", sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    color: #DDD;
    background: #0069ff;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.25s ease-out;
    font-family: "Consolas", sans-serif;
}

.lbl-toggle:hover {
    color: #FFF;
}

.lbl-toggle::before {
    content: ' ';
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
    transition: transform .2s ease-out;
    font-family: "Consolas", sans-serif;
}

.toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 350px;
}

.toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
    background: rgba(0, 105, 255, .2);
    border-bottom: 1px solid rgba(0, 105, 255, .45);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
}

.collapsible-content p {
    margin-bottom: 0;
}





/*h5 {*/
/*    font-family: "Consolas", sans-serif;*/
/*  font-size:15px;*/
/*  font-weight: 300;*/
/*  line-height:1em;*/
/*  text-align: center;*/
/*  color: #4DC3FA;*/
/*}*/

h6 {
    font-family: "Consolas", sans-serif;
  font-size:15px;
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: #FB667A;
}

h6 a {
    font-family: "Consolas", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #FB667A;
  text-decoration: none;
}

.login-box {
    font-family: "Consolas", sans-serif;
    margin-top: 75px;
    height: auto;
    background: #1A2226;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.login-key {
    font-family: "Consolas", sans-serif;
    height: 100px;
    font-size: 80px;
    line-height: 100px;
    background: -webkit-linear-gradient(#27EF9F, #0DB8DE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login-title {
    font-family: "Consolas", sans-serif;
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 15px;
    font-weight: bold;
    color: #ECF0F5;
}

.login-form {
    margin-top: 25px;
    text-align: left;
}

input[type=text] {
    font-family: "Consolas", sans-serif;
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    color: #ECF0F5;
}

input[type=password] {
    font-family: "Consolas", sans-serif;
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    padding-left: 0px;
    margin-bottom: 20px;
    color: #ECF0F5;
}

.form-group {
    margin-bottom: 40px;
    outline: 0px;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #0DB8DE;
    outline: 0;
    background-color: #1A2226;
    color: #ECF0F5;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0;
}

label {
    margin-bottom: 0px;
}

.form-control-label {
    font-size: 10px;
    color: #6C6C6C;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn-outline-primary {
    border-color: #0DB8DE;
    color: #0DB8DE;
    border-radius: 0px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-outline-primary:hover {
    background-color: #0DB8DE;
    right: 0px;
}

.login-btm {
    float: left;
}

.login-button {
    padding-right: 0px;
    text-align: right;
    margin-bottom: 25px;
}

.description em {
  color: red;
}

.tagsite{
  align-content: center;
    margin-left: 37%;
}

.tags {
    font-size: 30px;
}
#act {
    font-size: 50px;
}
.login-text {
    text-align: left;
    padding-left: 0px;
    color: #A2A4A4;
}

.loginbttm {
    padding: 0px;
}

header {
    margin: 0;
    background: #000;
    height: 65px;
    padding: 1px;
}

article {
    margin: 40px 30px;
}

p8 {
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 1px;
    font-size: 2.3em;
    line-height: 44px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 900;
    margin: 0;
    padding: 10px 0 0 30px;
    letter-spacing: 2px;
}

p8 { margin: 20px 0 10px 0;
    font-weight: 900;
}

p7 {
    margin: 20px 0 5px 0;
}


/* Table Layout */

table.vitamins {
    margin: 20px 0 0 0;
    border-collapse: collapse;
    border-spacing: 0;
    background: #212121;
    color: #fff;
}

table.vitamins th, table.vitamins td {
    text-align: center;
}

table.vitamins thead {
    line-height: 12px;
    background: #2e63e7;
    text-transform: uppercase;
}

table.vitamins thead th {
    color: #fff;
    padding: 10px;
    letter-spacing: 1px;
    vertical-align: bottom;
}

table.vitamins thead th:nth-child(1) {
    width: 20%;
    text-align: left;
    padding-left: 20px;
}

table.vitamins thead th:nth-child(2) {
    width: 30%;
}

table.vitamins thead th:nth-child(3) {
    width: 35%;
}

table.vitamins thead th:nth-child(4) {
    width: 15%;
}

table.vitamins tbody {
    font-size: 1em;
    line-height: 15px;
}

table.vitamins tbody tr {
    border-top: 2px solid rgba(109, 176, 231, 0.8);
    transition: background 0.6s, color 0.6s;
}

table.vitamins tbody tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.2);
}

table.vitamins tbody tr:hover {
    color: #000;
    background: rgba(255, 255, 255, 0.7);
    font-weight: 900;
}

table.vitamins tbody td {
    padding: 12px;
}

table.vitamins tbody tr:hover td:first-child {
    background: rgba(0,0,0,0);
}

table.vitamins tbody td:first-child {
    text-align: left;
    padding-left: 20px;
    font-weight: 700;
    background: rgba(109, 176, 231, 0.35);
    transition: backgrounf 0.6s;
}

table.vitamins tfoot {
    font-size: 0.8em;
}

table.vitamins tfoot tr {
    border-top: 2px solid #2e63e7;
}

table.vitamins tfoot td {
    color: rgba(255,255,215,0.6);
    text-align: left;
    line-height: 15px;
    padding: 15px 20px;
}


/* Mobile Layout */

@media screen and (max-width: 400px) {
    p9 {
        font-size: 34px;
        line-height: 36px;
        padding-left: 15px;
    }

    article {
        margin: 10px 15px;
    }

    table.vitamins {
        font-size: 0.8em;
    }
}