body {
    background-color: #1B1A1A;
    font-family: "Consolas", sans-serif;
    font-size: 20px;
    color: grey;
}

a:link {
    font-family: "Consolas", sans-serif;
    color: black;
    text-decoration: none;
}

a:visited {
    font-family: "Consolas", sans-serif;
    color: black;
    text-decoration: none;
}

h1 {
    font-family: sans-serif;
    font-size: 25px;
    margin-left: 100px;
    margin-right: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: dodgerblue;
}

.vl {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid yellow;
    margin-right: 300px;
    margin-top: 30px;
    padding: 0;
    margin-left: 100px;
}

.vl {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid yellow;
    margin-right: 350px;
    margin-top: 30px;
    padding: 0;
    margin-left: 100px;
}

.logo_line {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 50px;
    height: 1px;
    border: 0;
    border-top: 2px solid yellow;
    padding: 0;
}

h2 {
    font-size: 15px;
    margin-left: 100px;
    margin-right: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: lightgoldenrodyellow;
}

h4 {
    font-size: 30px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: dodgerblue;
}

h5 {
    font-size: 20px;
    margin-left: 100px;
    margin-right: 500px;
    margin-top: 70px;
    margin-bottom: 10px;
    color: yellow;
}

p {
    font-size: 15px;
    margin-left: 100px;
    margin-right: 500px;
    margin-top: 20px;

    color: lightgoldenrodyellow;
}

p2 {
    font-size: 20px;
    color: dodgerblue;
    margin-left: 100px;
}

p3 {
    font-size: 18px;
    margin-left: 100px;
    color: white;
}

p4 {
    font-size: 14px;
    margin-left: 600px;
    color: white;
}

a {
    font-family: Consolas;
    color: black;
}

/* CSS */
.button-32 {
    background-color: dodgerblue;
    border-radius: 12px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    text-align: match-parent;
    transition: 200ms;
    width: 9%;
    box-sizing: border-box;
    border: 0;
    font-size: 12px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 100px;
}

.button-32:not(:disabled):hover,
.button-32:not(:disabled):focus {
    outline: 0;
    background: #f4e603;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .2), 0 3px 8px 0 rgba(0, 0, 0, .15);
}

.button-32:disabled {
    filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
}

.button-66 {
    background-color: lightgoldenrodyellow;
    border-radius: 12px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    padding: 15px 15px;
    text-align: center;
    transition: 200ms;
    width: 9%;
    box-sizing: border-box;
    border: 0;
    font-size: 11px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 100px;
}

.button-66:not(:disabled):hover,
.button-66:not(:disabled):focus {
    outline: 0;
    background: lightblue;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .2), 0 3px 8px 0 rgba(0, 0, 0, .15);
}

.button-66:disabled {
    filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
}

textarea, title {
    width: 40%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid yellow;
    border-radius: 4px;
    background-color: black;
    font-size: 16px;
    margin-left: 100px;
    color: #f4e603;
    resize: none;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

input[type='checkbox'] {
    display: none;
}

.wrap-collabsible {
    margin: 1.2rem 0;
}

.lbl-toggle {
    display: block;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    color: #DDD;
    background: #0069ff;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
    color: #FFF;
}

.lbl-toggle::before {
    content: ' ';
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
    transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 350px;
}

.toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
    background: rgba(0, 105, 255, .2);
    border-bottom: 1px solid rgba(0, 105, 255, .45);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
}

.collapsible-content p {
    margin-bottom: 0;
}